/* Basic reset and styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #C2C0C0;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin: 0 10px;
}

.social-icons img {
  width: 30px;
  vertical-align: middle;
}

/* Responsive Styles */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }
}

.intro {
  text-align: left;
  padding: 100px 20px;
  padding-left: 10%;
  color: #333;
}

.intro h1 {
  margin: 0;
  line-height: 1.2;
}

.intro-im {
  font-family: 'Mogra', cursive;
  font-size: 64px;
  color: #3C3737;
  
}

.intro-dev {
  font-family: 'Mogra', cursive;
  font-size: 64px;
  padding-left: 20%;
  color: #3C3737;
  
}

.intro-name {
  font-family: 'Mogra', cursive;
  font-size: 96px;
  padding-left: 5%;
  color: #666ACC;
}

.learn-more-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #666ACC; /* Pinkish color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 50%;}

.learn-more-btn:hover {
  background-color: #181944; /* Darker pinkish color on hover */
}

/* Animations */
@keyframes slideIn {
  to {
    left: 0;
  }
}

@keyframes slideOut {
  to {
    left: -100%;
  }
}