* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.preloader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #77b3d4;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
.preload-end{
  opacity: 0;
  pointer-events: none;
}
.cloud1,
.cloud2,
.cloud3,
.cloud4 {
  height: 100px;
  position: absolute;
  right: 0;
  z-index: -1;
}

.cloud1 {
  top: 20%;
  transform: translate(100%, -20%);
  animation: clouds 3s ease infinite;
}

.cloud2 {
  top: 40%;
  transform: translate(100%, -40%);
  animation: clouds 2s ease infinite;
}
.cloud3 {
  top: 60%;
  transform: translate(100%, -60%);
  animation: clouds 2.5s ease infinite;
}
.cloud4 {
  top: 80%;
  transform: translate(100%, -80%);
  animation: clouds 1.5s ease infinite;
}




.helicopter {
  height: 150px;
  animation: helicopter 1s ease infinite alternate;
}

.preloader h3 {
  position: absolute;
  top: 75%;
  color: white;
  font-size: 30px;
  font-family: "Courier New";
  transform: translateY(-75%);
}

@keyframes helicopter {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}

@keyframes clouds {
  from {
    right: 0%;
  }
  to {
    right: 130%;
  }
}


@media only screen and (min-width : 480px) {
  .preloader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #77b3d4;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
  }

}
  


/* Navigation bar section */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0px;
  right: 49%;
  font-size: 60px;
}

@media only screen and (min-width : 480px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* Footer section */

.footer-bg {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: black;
}
.copyright {
  margin: 35px 50px auto;
  display: flex;
  float: left;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  cursor: default;
}

.contact a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin: 35px auto auto 1000px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  cursor: pointer;
  color: #ffffff;
}
.blog a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin: 35px auto auto 10px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  cursor: pointer;
  color: #ffffff;
}

.cv a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin: 35px auto auto 10px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  cursor: pointer;
  color: #ffffff;
}

.index a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin: 35px auto auto 10px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  cursor: pointer;
  color: #ffffff;
}
