*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --mainbackgroundcolor:#C2C0C0;
    --headerbackground:#666AAC;
    --primaryfont: Montserrat;
    --secondaryfont: Mogra;
    --lightcolor:white;
    --introbannerbackground:#CCC866;
   


}

.wrapper{
    background-color: var(--mainbackgroundcolor);
    height: auto;
    width: 100vw;
}
header{
    background-color: var(--headerbackground);
    width: 100%;
    /* max-width: 1200px; */
    height: auto;
    display: flex;
    padding-bottom: 5%;
    gap:40%;
    align-items: baseline;
}
a {
    text-decoration: none; 
    color: var(--lightcolor); 
    font-family: var(--primaryfont);
    font-size: 32px;
}
ul{list-style-type: none; 
    margin: 0;
    padding: 0;

   
}
.menu ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    
}

.logo h2{
    font-family: var(--secondaryfont);
    color: var(--lightcolor);
    font-size: 48px;
    margin-top: 50%;
    margin-left: 30%;
    
}


.intro{
    margin-top:4%;
    width:1190px;
    height :320px;
    margin-left:11%; 
    background-color :var(--introbannerbackground);
    padding-top: 2%;
    
}

.intro-im{
    color:#3c3737;
    margin-left:0%;
    font-family: var(--secondaryfont);
    font-size: 34px;
}

.intro-name{
    color: var(--headerbackground);
    font-family: var(--secondaryfont);
    font-size: 40px;
    margin-left: 5%;
}
.intro-dev{
    color: #272525;
    font-family: var(--secondaryfont);
    font-size: 48px;
    font-weight: bold;
    margin-left: 15%;
}

.intro-button{
    margin-left: 5%;
}
.intro-pic img{height:400px;
width: auto;
z-index: 1;
position: absolute;
margin-left: 70%;
}

.download-btn{background-color: #666AAC;
    color: white;
    border: none;
    padding: 10px 20px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;}
.download-btn:hover {
        background-color: #5a5b9c;
    }
 .banner{margin-top:4%;
    width:1190px;
    height :109px;
    margin-left:11%;
    border-radius: 90px; 
    background-color :rgba(102, 106, 172, 0.22);
    display: flex;
    gap:5px;
    
    }
    .banner .content{
        font-family: var(--primaryfont);
        font-size: 36px;
    }
    
   .banner .vertical-line {
        width: 1px; 
        height: 100px; 
        background-color: #666AAC; 
        margin: 0 auto; 
    }